#principal
{
    width:1000px;
    height:200px; /* height of the background image? */
	background: url(../images/header_1.png) center top no-repeat;
	text-align: center;
	text-transform: uppercase;
	color: #e5b7ad;
	text-shadow: 1px 1px 2px #fff;
}