footer{
	clear:both !important;
	width:980px;
	height: 50px;
	padding: 10px;
	background:url(../images/footer.png) center top no-repeat;
	color:#ffffff;
	text-indent:205px;
}

.footer a, .footer a:link, .footer a:active, .footer a:visited{
	color: #FFFFFF;
}

.footer a:hover
{
    color:Yellow;
    font-style:italic;
    font-weight: bold;
}