section{
	float: right;
	width: 725px;
	padding-left:20px;
	padding-right:20px;
	margin: 0 0 20px 0px;
    color:WhiteSmoke;
    font-family: Arial, Helvetica, sans-serif;
}
section article
{
    padding-top:50px;
}
#marcador {
    background: url(../images/marcador_pag_03.png) top no-repeat;
    background-position:200px;
    text-align: left;
    color: #2e3a45;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    color: yellow;
    text-align:center;
}
section p, ul {
    text-align:justify;
    font-size: medium;
}
ul {
    list-style-image:url(../images/icono_lista_03.png);
    text-align:left;
}